.DS_Store
**/.DS_Store

# EVM
chains/evm/node_modules/
chains/evm/artifacts/
chains/evm/cache/
chains/evm/coverage/
chains/evm/types/
chains/evm/dist/
chains/evm/bundle/
chains/evm/.env

# Solana
chains/solana/.anchor/
chains/solana/target/
chains/solana/test-ledger/
chains/solana/node_modules/
chains/solana/.yarn/

# Local nested git backups
.git-backups/
